.blog__container{
    display: grid;
    grid-template-columns: 2fr 1.25fr;
    margin: 0 auto;
    width: 70%;
    padding-left: 250px ;
    margin-top: 55px;
}

.box-section{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    margin: 100px 0px;
    padding: 40px;
    width: 90%;
    border: 1px solid rgb(243, 243, 243);
    border-radius: 4px;
    background-color: rgb(243, 243, 243);
}

.blog__content h1{
    font-size: 42px;
    color: rgb(48, 48, 48);
}

.blog__content p{
    font-size: 20px;
    margin-bottom: 30px;
}

.blog__side{
    margin: 20px 100px;
    
}

.box-section h1{
    font-size: 25px;
    padding-bottom: 10px;
    padding-left: 20px;
   
}

.box-section p{
    font-size: 18px;
    color: rgb(114, 113, 113);
    padding-left: 20px;
}

.box-section--img img{
    width: 300px;
    height: 340px;
    padding-left: 30px;
}

.blog__side{
    padding-right: 10px;
}

.blog__side h4{ 
    padding-bottom: 15px;
}

.blog__side input{
    /* width: 100%; */
    height: 25px;
    color: rgb(168, 168, 168);
    font-size: 14px;
    border: 2px solid rgb(219, 219, 219);
    border-radius: 5px;
    margin: 30px 0px 20px 0px;
  }

.blog__side p{
    color: #9c9c9c;
    
}

.blog__side img{
    width: 20px;
    height: 20px;
    padding: 10px 10px 0px 10px;
}


.button2 {
    padding: 15px 20px;
    text-decoration: none;
    margin-left: 15px;
    font-size: 16px;
    height: 30px;
    width: 70%;
    border-radius: 5px;
    background: #07a020;
    color: #ffffff;
  }

.button3 {
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
    height: 30px;
    width: 60%;
    border: 2px solid #07a020;
    border-radius: 5px;
    background: #ffffff;
    color: #07a020;
  }

.segment__link{
    text-decoration: none;
    color: #07a020;
    font-weight: bold;
}

.share__link:after {  /*to add horizontal line below the share  link */
    content: " ";
    display: block;
    border-bottom: 1px solid black;
    padding-top: 10px ;
    margin-bottom: 20px;
  }

  .share__link:before {  /*to add horizontal line above the share  link */
    content: " ";
    display: block;
    border-top: 1px solid black;
    padding-bottom: 5px ;
    margin-top: 20px;
  }

  

  /* responsive of growth section */

@media (max-width: 1200px) {
    .blog__container{
        grid-template-columns: 1fr;
        /* width: 70%; */
        /* max-width: 700px; */
        padding-left: 30px;
    }
    .box-section h1{
        font-size: 24px;
        padding-bottom: 10px;
    }
    
    .box-section p{
        font-size: 18px;
        color: rgb(114, 113, 113);
    }
    .box-section--img img{
        width: 220px;
        height: 260px;
    }
}


@media (max-width: 600px) {
    .blog__container{
        padding-right: 120px;

    }
    .blog__content h1{
        font-size: 26px;
    }
    
    .blog__content p{
        font-size: 16px;
        padding-right: 40px;
    }

    .box-section h1{
        font-size: 18px;
        padding-bottom: 0px;
        padding-left: 0px;
       
    }
    
    .box-section p{
        font-size: 14px;
        padding-left: 0px;
    }
    
    .box-section--img img{
        width: 180px;
        height: 220px;
        padding-left: 0px;
    }
    
   
}

  /* responsive of growth section */



